= form_for(@page) do |f|
  - if @page.errors.any?
    #error_explanation
      %h2
        = pluralize(@page.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :blob
    %br/
    = f.text_field :blob
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :content
    %br/
    = f.text_area :content
  .field
    = f.label :wiki_id
    %br/
    = f.text_field :wiki_id
  .actions
    = f.submit
