= form_for([@wiki, @page], html: { class: 'pure-form pure-form-stacked' }) do |f|
  - if @page.errors.any?
    #error_explanation
      %h2
        = pluralize(@page.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message
  %fieldset
    .pure-g
      .pure-u-1-2
        = f.label :name
        = f.text_field :name, class: 'pure-input-2-3'

      .pure-u-1-2
        = f.label :blob, 'URL'
        = f.text_field :blob, class: 'pure-input-2-3'

    .pure-g
      .pure-u-1-2
        = f.label :content
        = f.text_area :content, class: 'pure-input-1', rows: 30

      .pure-u-1-2
        %p
          ｺｺにﾌﾟﾚﾋﾞｭｰされるﾖﾃｲ

    = f.submit class: 'pure-button pure-button-primary'
