%p#notice= notice
%h1 Listing Wikis
%table
  %thead
    %tr
      %th Blob
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @wikis.each do |wiki|
      %tr
        %td= wiki.blob
        %td= wiki.name
        %td= link_to 'Show', wiki
        %td= link_to 'Edit', edit_wiki_path(wiki)
        %td= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Wiki', new_wiki_path
