%p#notice= notice
%p
  %strong Name:
  = @wiki.name

- @wiki.pages.each do |page|
  %p
    = link_to page.name, wiki_page_path(@wiki, page)

= link_to 'make a page', new_wiki_page_path(@wiki)
|
= link_to 'Edit', edit_wiki_path(@wiki)
|
= link_to 'Back', wikis_path
