<p id="notice"><%= notice %></p>

<p>
  <strong>Blob:</strong>
  <%= @wiki.blob %>
</p>

<p>
  <strong>Name:</strong>
  <%= @wiki.name %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
